@import './common/var.scss';

@font-face {
  font-family: 'iconfont';
  src: url('./fonts/iconfont.eot');
  src: url('./fonts/iconfont.eot?#iefix') format('embedded-opentype'),
  url('./fonts/iconfont.woff') format('woff'),
  url('./fonts/iconfont.ttf') format('truetype'),
  url('./fonts/iconfont.svg#iconfont') format('svg');
}


[class^="ac-icon-"], [class*="ac-icon-"] {
  font-family:"iconfont" !important;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: baseline;
}

.ac-icon-roundcheckfill:before { content: "\e656"; }

.ac-icon-roundcheck:before { content: "\e657"; }

.ac-icon-roundclosefill:before { content: "\e658"; }

.ac-icon-roundclose:before { content: "\e659"; }

.ac-icon-more:before { content: "\e684"; }

.ac-icon-scan:before { content: "\e689"; }

.ac-icon-questionfill:before { content: "\e690"; }

.ac-icon-question:before { content: "\e691"; }

.ac-icon-pulldown:before { content: "\e69f"; }

.ac-icon-pullup:before { content: "\e6a0"; }

.ac-icon-right:before { content: "\e6a3"; }

.ac-icon-moreandroid:before { content: "\e6a5"; }

.ac-icon-deletefill:before { content: "\e6a6"; }

.ac-icon-cart:before { content: "\e6af"; }

.ac-icon-delete:before { content: "\e6b4"; }

.ac-icon-home:before { content: "\e6b8"; }

.ac-icon-cartfill:before { content: "\e6b9"; }

.ac-icon-homefill:before { content: "\e6bb"; }

.ac-icon-lock:before { content: "\e6c0"; }

.ac-icon-unlock:before { content: "\e6c2"; }

.ac-icon-infofill:before { content: "\e6e4"; }

.ac-icon-share:before { content: "\e6f3"; }

.ac-icon-female:before { content: "\e71a"; }

.ac-icon-male:before { content: "\e71c"; }

.ac-icon-rankfill:before { content: "\e721"; }

.ac-icon-rank:before { content: "\e722"; }

.ac-icon-loading:before { content: "\e644"; }

.ac-icon-fankui:before { content: "\e738"; }

.ac-icon-warningo:before { content: "\e835"; }

.ac-icon-coupons_fill:before { content: "\e6ed"; }


.ac-icon-peoplefill:before { content: "\e735"; }

.ac-icon-people:before { content: "\e736"; }

.ac-icon-fankui:before { content: "\e738"; }

.ac-icon-close:before { content: "\e650"; }

.ac-icon-loading:before { content: "\e644"; }

.ac-icon-coupons_fill:before { content: "\e6ed"; }

.ac-icon-error:before { content: "\e60e"; }
// .ac-icon-error { color: $--color-danger }

.ac-icon-success:before { content: "\e651"; }
// .ac-icon-success { color: $--color-primary }

.ac-icon-info:before { content: "\e73f"; }

.ac-icon-warning:before { content: "\e75a"; }
// .ac-icon-warning { color: $--color-warning }

.ac-icon-minus-circle:before { content: "\e780"; }

.ac-icon-plus-circle:before { content: "\e781"; }

.ac-icon-minus-circle-fill:before { content: "\e844"; }

.ac-icon-plus-circle-fill:before { content: "\e845"; }

.ac-icon-add:before { content: "\e767"; }

.ac-icon-move:before { content: "\e768"; }


.ac-icon-loading {
  // transform: rotateZ(180deg);
  animation: rotating 2s linear infinite;
}
