@import './mixins/mixins.scss';
@import './mixins/_button.scss';
@import './mixins/utils.scss';

@include b(radio-group) {
  display: inline-block;
  line-height: 1;
  vertical-align: middle;
  font-size: 0;
}

@include b(radio-button) {
  display: inline-block;
  outline: none;
  position: relative;

  @include e(inner) {
    line-height: 1;
    display: inline-block;
    white-space: nowrap;
    vertical-align: middle;
    background: $--button-default-fill;
    border: $--border-base;
    font-weight: $--button-font-weight;
    border-left: 0;
    color: $--button-default-color;
    -webkit-appearance: none;
    text-align: center;
    box-sizing: border-box;
    outline: none;
    margin: 0;
    position: relative;
    cursor: pointer;
    transition: $--all-transition;

    @include button-size($--button-padding-vertical, $--button-padding-horizontal, $--button-font-size, 0);

    border-radius: 1.666667rem;
    font-size: 1rem;
    padding: .4rem .9rem;

    &:hover {
      color: $--color-primary;
    }

    & [class*="ac-icon-"] {
      line-height: 0.9;

      & + span {
        margin-left: 5px;
      }
    }
  }

  &:first-child {
    .ac-radio-button__inner {
      // border-left: $--border-base;
      // border-radius: $--border-radius-base 0 0 $--border-radius-base;
      box-shadow: none !important;
    }
  }

  @include e(orig-radio) {
    opacity: 0;
    outline: none;
    position: absolute;
    z-index: -1;

    &:checked {
      & + .ac-radio-button__inner {
        color: $--radio-button-checked-color;
        background-color: $--radio-button-checked-fill;
        border-color: $--radio-button-checked-border-color;
        box-shadow: -1px 0 0 0 $--radio-button-checked-border-color;
      }
    }

    &:disabled {
      & + .ac-radio-button__inner {
        color: $--button-disabled-color;
        cursor: not-allowed;
        background-image: none;
        background-color: $--button-disabled-fill;
        border-color: $--button-disabled-border;
        box-shadow: none;
      }
      &:checked + .ac-radio-button__inner {
        background-color: $--radio-button-disabled-checked-fill;
      }
    }
  }
}

@include b(radio) {
  color: $--radio-color;
  font-weight: $--radio-font-weight;
  line-height: 1;
  position: relative;
  cursor: pointer;
  display: inline-block;
  white-space: nowrap;
  outline: none;
  font-size: $--font-size-base;
  @include utils-user-select(none);

  @include e(input) {
    display: inline-block;
    margin-right: 4px;
    white-space: nowrap;
    position: relative;
    line-height: 1;
    vertical-align: middle;
    cursor: pointer;

    @include when(disabled) {
      .ac-radio__inner {
        background-color: $--radio-disabled-input-fill;
        border-color: $--radio-disabled-input-border-color;
        cursor: not-allowed;

        &::after {
          cursor: not-allowed;
          background-color: $--radio-disabled-icon-color;
        }

        & + .ac-radio__label {
          cursor: not-allowed;
        }
      }
      &.is-checked {
        .ac-radio__inner {
          background-color: $--radio-disabled-checked-input-fill;
          border-color: $--radio-disabled-checked-input-border-color;

          &::after {
            background-color: $--radio-disabled-checked-icon-color;
          }
        }
      }

      & + span.ac-radio__label {
        color: $--color-text-placeholder;
        cursor: not-allowed;
      }
    }

    @include when(checked) {
      .ac-radio__inner {
        border-color: $--radio-checked-input-border-color;

        &::after {
          opacity: 1;
          transform: scale(1);
          transition: all .2s ease-in-out;
        }
      }
      & + .ac-radio__label {
        color: $--radio-checked-text-color;
      }
    }
  }



  @include e(inner) {
    border-radius: $--radio-input-border-radius;
    width: $--radio-input-width;
    height: $--radio-input-height;
    background-color: $--radio-input-fill;
    position: relative;
    cursor: pointer;
    display: inline-block;

    box-sizing: border-box;
    border: 1px solid #dddee1;
    transition: all .2s ease-in-out;

    &::after {
      position: absolute;
      width: $--radio-input-checked-width;
      height: $--radio-input-checked-height;
      left: 2px;
      top: 2px;
      border-radius: $--radio-input-border-radius;
      display: table;
      border-top: 0;
      border-left: 0;
      content: " ";
      background-color: $--radio-checked-input-border-color;
      opacity: 0;
      transition: all .2s ease-in-out;
      transform: scale(0);
    }
  }

  @include e(original) {
    opacity: 0;
    outline: none;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    cursor: pointer;
  }

  @include e(label) {
    font-size: $--radio-font-size;
  }

  & + .ac-radio {
    margin-left: 30px;
  }
}
